body {
    
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    color: gold; /* Kolor złotego dla nagłówka h1 */
    text-align: center;
font-family: 'Caveat', cursive;
}

button {
    background-color: pink; /* Kolor różowy dla przycisków */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Zaokrąglenie rogów przycisków */
    margin: 10px;
    cursor: pointer;
    font-family: Arial;
}

img {
    width: 200px;
 margin: 0 auto;
    
}
