body {
    
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    color: gold; /* Kolor złotego dla nagłówka h1 */
    text-align: center;
font-family: 'Caveat', cursive;
}

button {
   background-color: pink;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodanie cienia */
    font-family: 'Caveat", cursive;
    font-weight: 15px
    
}

img {

 margin: 0 auto;
display: inline-block
    
}
p
{
    text-align: center;
}
#knur {
    border: 5px solid #ffcc00; /* Dodanie ramki - kolor złoty */
width: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 20px;
}

button {
    width: 60%; /* Ustaw szerokość przycisków */
}
.button-image-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#kotek
{
width: 220px;
    height:220px;
    
}
#major {
width: 498px;
    height: 336px;
}
