body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ustawienie wysokości na 100% widoku, aby obraz był na środku strony */
}

h1 {
    color: gold; /* Kolor złotego dla nagłówka h1 */
    text-align: center;
}

button {
    background-color: pink; /* Kolor różowy dla przycisków */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Zaokrąglenie rogów przycisków */
    margin: 10px;
    cursor: pointer;
}

img {
    width: 100px;
    position:absolute;
    
}
